<!doctype html>
<html>
    <head>
        <meta charset='utf8'>
    </head>
    <body>
        <div id='div1'>
            <p><a href='http://127.0.0.1:5000/gugu/2'>2단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/3'>3단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/4'>4단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/5'>5단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/6'>6단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/7'>7단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/8'>8단</a></p>
            <p><a href='http://127.0.0.1:5000/gugu/9'>9단</a></p>
        </div>
    </body>
</html>