<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf8'>
        <title>ajax</title>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            function show_gugu() {
                var dan=$('#dan').val();
                var url='/gugu/'+dan;
                $.ajax({
                    url: url,
                    method: 'get',
                    dataType: 'html',
                    data: '',
                    success: function(data){ 
                        console.log('성공');
                        $('#out').html(data);
                    },
                    error: function(request, status, error){
                        alert(error);
                    }
                });
            }
        </script>
    </head>
    <body>
        <output id='out'></output>
        <input type='range' id='dan' min='2' max='9' value='2'
        oninput="$('#show').text(this.value)"><span id='show'></span>
        <div><button type="button" onclick='show_gugu();'>구구단 요청</button></div>
    </body>
</html>